.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai

._*
.DS_Store

# saídas temporárias de compilação (o site publicado fica em docs/)
/apostila.html
/apostila_files/
/_bookdown_files/
*.log
tmp-pdfcrop-*.tex
/wrap-code.tex
*.bkp
/docs/apostila.tex
*.epub
/apostila.Rmd
